.grandpa{
    border: 2px solid goldenrod;
    margin: 10px;
    padding: 0 15px;
    border-radius: 8px;
}

.grandpa div{
    border: 2px solid goldenrod;
    margin: 10px;
    padding: 0 15px;
    border-radius: 5px;
}