.home-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.tshirt-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px auto;
    grid-gap: 15px;
}

.cart-container{
    text-align: center;
}